{% load static replace_value %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <ul class="navbar-nav justify-content-end">
        {% if request.user.is_authenticated %}
          <li class="nav-item d-flex align-items-center me-3">
            <a href="{% url 'pets:pet_list' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fas fa-paw me-sm-1"></i>
              <span class="d-sm-inline d-none">Pet Management</span>
            </a>
          </li>
          {% if request.user.is_superuser %}
            <li class="nav-item d-flex align-items-center me-3">
              <a href="{% url 'admin:password_change' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-edit me-sm-1"></i>
                <span class="d-sm-inline d-none">Change Password</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'admin:logout' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fas fa-sign-out-alt me-sm-1"></i>
                <span class="d-sm-inline d-none">Logout</span>
              </a>
            </li>
          {% else %}
            <li class="nav-item d-flex align-items-center me-3">
              <a href="{% url 'password_change' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-edit me-sm-1"></i>
                <span class="d-sm-inline d-none">Change Password</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'account_logout' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fas fa-sign-out-alt me-sm-1"></i>
                <span class="d-sm-inline d-none">Logout</span>
              </a>
            </li>
          {% endif %}
        {% else %}
        <li class="nav-item d-flex align-items-center">
          <a href="{% url 'account_login' %}" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Sign In</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->